/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus-visible {
    outline: none;
}

body{
    background-color: #000;
}

.bg-white {
    background: #fff;
    margin-bottom: 5px;
}

.bg-gray {
    background-color: #F3F4F6;
    margin-bottom: 10px;
    padding-bottom: 30px;
}


/* header */

header{
    background-color: #000;
}

.container-topo{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 10px 0;
}

.container-topo .logo img{
    height: auto;
    width: 100%;
    max-width: 100px;
    filter: invert(1);
}

.container-topo .logo a {
    display: block;
    width: fit-content;
    margin: auto;
}

/* titulo */

body .titulo {
    padding: 30px 0;
}

body .titulo h3{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    text-align: center;
}

.erro {
    text-align: center;
    margin-top: 30px;
}

.erro p {
    color: #d60000;
}

/* consulta */

.container-consulta {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #F3F4F6;
}

.container-consulta input#cnpj {
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #f4f4f4;
    font-size: 14px;
}

.container-consulta input#cnpj::placeholder {
    font-size: 14px;
}

.container-consulta button#btnConsulta {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container-consulta button#btnConsulta svg {
    height: auto;
    max-width: 20px;
}

/* tabela dados */

.tabela-dados {
    display: flex;
    gap: 10px;
    justify-items: center;
    background-color: #fff;
    max-width: 1300px;
    margin: auto;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
}

.tabela-dados h4.titulo {
    display: flex;
    gap: 10px;
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
}

.tabela-dados button#editar {
    background-color: #fff;
    color: #fff;
    border: none;
    transition: 1s;
    cursor: pointer;
}

.tabela-dados button#editar:hover {
    opacity: 0.6;
}

.tabela-dados button#editar svg {
    max-width: 20px;
    max-height: 20px;
}

.tabela-dados>div {
    display: grid;
    width: 100%;
}

.tabela-dados input.tbl {
    padding: 2px 0px;
    border-width: 0;
    border-bottom: 1px solid #000;
    font-size: 14px;
    border-radius: 0;
}

.tabela-dados textarea.tbl {
    padding: 2px 0px;
    border-width: 0;
    border-bottom: 1px solid #000;
    font-size: 14px;
    border-radius: 0;
    width: 100% !important;
    overflow: hidden; 
    white-space: pre-wrap;
    word-wrap: break-word;
}

.tabela-dados div label {
    display: inline-block;
    min-width: 180px;
    font-weight: bold;
}

.tabela-dados input.tbl.edit, 
.tabela-dados textarea.tbl.edit {
    background-color: #E8F0FE;
}

.tabela-dados button#edit-form {
    margin: 20px 0;
    padding: 5px 10px;
    border: 2px solid;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    transition: 1s;
}

.tabela-dados button#edit-form:hover {
    background-color: #fff;
    color: #000;
}

/* tabela socios */

.tabela-socios {
    max-width: 1300px;
    margin: auto;
    padding-bottom: 40px;
}

.tabela-socios .titulo {
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.tabela-socios .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tabela-socios .cards .socio {
    background-color: #F3F4F6;
    border-radius: 5px;
    padding: 15px 15px 0 15px;
}

.tabela-socios .cards .socio label {
    font-weight: bold;
}

.tabela-socios .cards .socio p {
    margin: 5px 0 15px 0;
}


@media screen and (max-width: 576px){

    .container-topo .logo img {
        max-width: 50px;
    }

    body .titulo {
        padding: 20px 0;
    }

    body .titulo h3 {
        font-size: 13px;
    }

    .container-consulta {
        padding-bottom: 20px;
    }

    /* tabela dados */

    .tabela-dados {
        padding: 10px;
    }

    .tabela-dados textarea.tbl {
        min-height: 40px;
    }

    /* tabela socios */

    .tabela-socios {
        padding: 10px;
        padding-bottom: 30px;
    }

    .tabela-socios .cards{
        grid-template-columns: unset;
    }
}